"Fast Exponentiation"
"Euclidean Algorithm"
"Extended Euclidean Algorithm"
"Show extended solution"
Iterative
Recursive
"Eulers phi function"
"Charmichaels function"
"Random Number Generator"
"Calculate in extension field"
"Check if group is cyclic"
"Find primitive roots"
"RSA Key Generation"
"RSA Encryption"
"ElGamal Key Generation"
"ElGamal Encryption"
"ElGamal Signature"
