FastExponentiation
EuclideanAlgorithm
ExtendedEuclideanAlgorithm
ShowExtendedSolution
Iterative
Recursive
EulersPhiFunction
CharmichaelsFunction
RandomNumberGenerator
CalculateInExtensionField
CheckIfGroupIsCyclic
FindPrimitiveRoots
RSAKeyGeneration
RSAEncryption
ElGamalKeyGeneration
ElGamalEncryption
ElGamalSignature
